---
export interface Props {
  title?: string;
  description?: string;
}
const { title, description } = Astro.props as Props;
import '@/styles/global.css';
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {title && <title>{title}</title>}
    {description && <meta name="description" content={description} />}
  </head>
  <body>
    <header class="site-header">
      <div class="container inner">
        <a href="/">True Crime</a>
        <nav>
          <a href="/blog/">Blog</a>
          <a href="/tags/ed-gein/">#ed-gein</a>
        </nav>
      </div>
    </header>
    <main class="container">
      <slot />
    </main>
    <footer class="site-footer">
      <div class="container">
        <p>&copy; {new Date().getFullYear()} True Crime. All rights reserved.</p>
      </div>
    </footer>
  </body>
  
</html>


