---
export interface Props {
  title?: string;
  description?: string;
}
const { title, description } = Astro.props as Props;
import '@/styles/global.css';
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {title && <title>{title}</title>}
    {description && <meta name="description" content={description} />}
    {/* Google Tag Manager */}
    <script>{`(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-WXH45CQN');`}</script>
  </head>
  <body>
    {/* Google Tag Manager (noscript) */}
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WXH45CQN" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <header class="site-header">
      <div class="container inner">
        <a href="/">True Crime</a>
        <nav>
          <a href="/blog/">Blog</a>
          <a href="/tags/ed-gein/">#ed-gein</a>
        </nav>
      </div>
    </header>
    <main class="container">
      <slot />
    </main>
    <footer class="site-footer">
      <div class="container">
        <p>&copy; {new Date().getFullYear()} True Crime. All rights reserved.</p>
      </div>
    </footer>
  </body>
  
</html>


